{% extends "layout.html" %}
{% block body %}
<style>
td,th {
  text-align: center;
}
</style>
<table border="1" style="border-collapse: separate; empty-cells: hide; width:100%;">
  <tr>
    <th style="width:10%">Klo/pv</th>
    <th style="width:18%">27.8 Maanantai </th>
    <th style="width:18%">28.8 Tiistai </th>
    <th style="width:18%">29.8 Keskiviikko </th>
    <th style="width:18%">30.8 Torstai </th>
    <th style="width:18%">31.8 Perjantai </th>
  </tr>

  <tr>
    <th> 9:00 </th>
    <td style="background-color:#52BE80;" rowspan="4">9:00-12:00<br>Aloitustilaisuus<br>[A111]</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th> 9:30 </th>
    <td style="background-color:#BB8FCE;" rowspan="4">9:30-13:00<br>Kampuskiertely<br>[Lähtö C128]</td>
  </tr>

  <tr>
    <th> 10:00 </th>
    <td></td>
    <td></td>
    <td style="background-color:#F5B7B1;" rowspan="2">10:00-12:00<br>Kumpulan koulutustarjonta<br>[A111]</td>
  </tr>


  <tr>
    <th> 11:00 </th>
  </tr>

  <tr>
    <th> 12:00 </th>
    <td style="background-color:#F4D03F;" rowspan="4">12:00-16:00<br>Käytännön asioita<br>Tustutaan<br>Syödään<br>Leikitään<br>HSL-visiitti<br></td>
    <td style="background-color:#85C1E9;" rowspan="2">12:00-14:00<br>Rehtorin kättely<br>[Fabiankatu 33]</td>
    <td style="background-color:#2980B9;" rowspan="1">12:30-13:00<br>Unisport info<br>[Unisport Kumpula]</td>
  </tr>

  <tr>
    <th> 13:00 </th>
    <td style="background-color:#229954" rowspan="1">12:00-13:00<br>Laitosiltapäivä</td>
    <td style="background-color:#F5B041;" rowspan="3">13:00-16:00<br>Tiedebasaari<br>[Physicum]</td>
    <td style="background-color:#AEB6BF;" rowspan="3">13:00-16:00<br>Kampussuunnistus</td>
  </tr>

  <tr>
    <th> 14:00 </th>
    <td></td>
    <td style="background-color:#EC7063;" rowspan="2">14:00-16:00<br>Helsinki City Tour</td>
  </tr>

  <tr>
    <th> 15:00 </th>
    <td style="background-color:#85C1E9;" rowspan="3">15:00-18:00<br>Fuksisport<br>[Vallilan kenttä]</td>
  </tr>

  <tr>
    <th> 16:00 </th>
        <td style="background-color:#F39C12;" rowspan="6">16:00 --><br>Fuksiklusteri<br>[Leppäsuonkatu 11]</td>
  </tr>

  <tr>
    <th> 17:00 </th>
    <td style="background-color:#F4D03F;" rowspan="3">17:00-20:00<br>Orientaatiopiknik<br>[Kaivopuisto]</td>
    <td></td>
    <td style="background-color:#F39C12;" rowspan="3">~17:00-20:00<br>Bileiden etkot</td>
  </tr>

  <tr>
    <th> 18:00 </th>
    <td style="background-color:#2874A6;" rowspan="4">18:00 --><br>Lautapeli-ilta<br>[Café Mascot]</td>
  </tr>

  <tr>
    <th> 19:00 </th>
  </tr>

  <tr>
    <th> 20:00 </th>
    <td></td>
    <td></td>
    <td style="background-color:#F7DC6F;" rowspan="2">20:00 --><br>Fuksibileet<br>[Ravintolalaiva Grand Georgia]</td>
  </tr>

  <tr>
    <th> 21:00 </th>
  </tr>
</table>
{% endblock %}
