{% extends "layout.html" %}
{% block body %}
<style>
td,th {
  text-align: center;
} 
</style>
<table border="1" style="border-collapse: separate; empty-cells: hide; width:100%;">
  <tr>
    <th style="width:10%">Klo/pv</th>
    <th style="width:18%"> Maanantai </th>
    <th style="width:18%"> Tiistai </th>
    <th style="width:18%"> Keskiviikko </th>
    <th style="width:18%"> Torstai </th>
    <th style="width:18%"> Perjantai </th>
  </tr>

  <tr>
    <th> 9:00 </th>
    <th rowspan="6">Aloitustilaisuus</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <th> 9:30 </th>
    <td rowspan="6">Kampuskiertely</td>
  </tr>

  <tr>
    <th> 10:00 </th>
    <td></td>
    <td></td>
    <td rowspan="4">Kumpulan koulutustarjonta</td>
  </tr>

  <tr>
    <th> 10:30 </th>
  </tr>

  <tr>
    <th> 11:00 </th>
  </tr>

  <tr>
    <th> 11:30 </th>
  </tr>

  <tr>
    <th> 12:00 </th>
    <td rowspan="7">Tutustumista<br>Käytännön asioita<br>HSL<br>Ruokailut<br>Leikkejä</td>
    <td rowspan="3">Rehtorin kättely</td>
  </tr>

  <tr>
    <th> 12:30 </th>
    <td rowspan="1">Ruokailu</td>
    <td>Unisport info</td>

  </tr>

  <tr>
    <th> 13:00 </th>
    <td rowspan="1">Laitosiltapäivä</td>
    <td rowspan="3">Tiedebasaari</td>
    <td rowspan="3">Kampussuunnistus</td>
  </tr>

  <tr>
    <th> 14:00 </th>
    <td></td>
    <td rowspan="2">Helsinki City Tour</td>
  </tr>

  <tr>
    <th> 15:00 </th>
    <td rowspan="3">Fuksisport</td>
  </tr>

  <tr>
    <th> 16:00 </th>
  </tr>

  <tr>
    <th> 17:00 </th>
    <td rowspan="3">Orientaatiopiknik</td>
    <td></td>
    <td rowspan="3">Bileiden etkot</td>
  </tr>

  <tr>
    <th> 18:00 </th>
    <td rowspan="4">Fuksiklusteri</td>
    <td rowspan="4">Lautapeli-ilta</td>
  </tr>

  <tr>
    <th> 19:00 </th>
  </tr>

  <tr>
    <th> 20:00 </th>
    <td></td>
    <td></td>
    <td rowspan="2">Fuksibileet</td>
  </tr>

  <tr>
    <th> 21:00 </th>
  </tr>
</table>
{% endblock %}
